# Environment Variables
# Copy this file to .env and fill in your values

# Supabase Configuration
SUPABASE_URL=https://urgfhuoeaudoaslpcviq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_IJ1OTCgupsCR-7dMa58pKQ_Y_EPes-9

# MongoDB (Phase 2)
MONGODB_URI=mongodb://localhost:27017/ecomapp

# Server Configuration
PORT=3000
FRONTEND_URL=http://localhost:3001
SUPABASE_PASSWORD=#WaAr%CDk936une
